@model IEnumerable<PizzaShop.ViewModels.CartItem>

<div class="row">
    @foreach (var pizza in Model)
    {
        <div class="row">
            <div class="col-md-9">
                <h3>@pizza.Pizza.Name</h3>
            </div>
            <div class="col-md-3">
                <h3>@pizza.Pizza.Price</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <button id="btnMinus"> - </button>
                <div>@pizza.Quantity</div>
                <button id="btnPlus"> + </button>
            </div>
            <div class="col-md-3">
                <a href="#">Remove</a>
            </div>
        </div>
        <hr />
    }
</div>