@model IEnumerable<PizzaShop.ViewModels.IngredientViewModel>

<h2>Ingredients</h2>
@foreach (var category in Model)
{
    <div class="row">
        <h3><label>@category.Category</label></h3>
        @foreach (var ingredient in category.Ingredients)
        {
        <div class="checkbox">
            <label class="checkbox-inline">
                <input type="checkbox" data-toggle="toggle">
                @ingredient.Name
            </label>
        </div>
        }
    </div>
    <hr />

}