@using PizzaShop.ViewModels;
@using PizzaShop.Business.Models;
@model IEnumerable<IngredientViewModel>

<h2>Ingredients</h2>
@foreach (IngredientViewModel category in Model)
{
    <div class="row">
        <h3><label>@category.Category</label></h3>
        @foreach (IngredientModel ingredient in category.Ingredients)
        {
            <div class="checkbox">
                <label class="checkbox-inline">
                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="primary">
                </label>
            </div>
        }
    </div>
    <hr />

}