using PizzaShop.Models
@model IEnumerable<PizzaShop.ViewModels.IngredientViewModel>

<h2>Ingredients</h2>
@foreach (var category in Model)
{
    <div class="row">
        <h3>@category.Category.ToString()</h3>
        @foreach (var ingredient in category.Ingredients)
        {
            <div class="col-md-2">
                <label asp-for="@ingredient.Name"></label>
                <input asp-for="@ingredient.IsOnPizza" type="checkbox" data-toggle="toggle" class="form-control" />
            </div>
        }
    </div>
    <hr />

}