@using PizzaShop.ViewModels;
@using PizzaShop.Business.Models;
@model IEnumerable<IngredientViewModel>

<h4>Ingredients</h4>
@foreach (IngredientViewModel category in Model)
{
    <h5><label>@category.Category</label></h5>
    @foreach (IngredientModel ingredient in category.Ingredients)
    {
        <div class="checkbox-inline">
            <label>
                <input type="checkbox" asp-for="@ingredient.IsOnPizza" data-toggle="toggle" data-onstyle="primary">
                @ingredient.Name
            </label>
        </div>
    }
    <hr />
}