@model IEnumerable<PizzaShop.Data.Entities.Pizza>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-9">
        @foreach (var pizza in Model)
        {
            <div class="card col-md-4">
                <img class="card-img-top" src="@pizza.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@pizza.Name</h5>
                    <p class="card-text">@pizza.Description</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        }
    </div>

    <div class="col-md-3">
        <div class="row">
            @await Component.InvokeAsync("Address")
        </div>
        <div class="row">
            @await Component.InvokeAsync("Cart");
        </div>
    </div>
</div>